body {
  margin: 0;
}
#active {
  color: red;
}
a {
  color:black;
  text-decoration: none;
}
h1 {
  text-align: center;
  font-size: 300%;
  border-bottom: 1px solid gray;
  margin: 0;
  padding: 15px;
}


#grid {
  display : grid;
  grid-template-columns: 150px 1fr
}
#grid div {
  border : 0.5px gray solid;
}
#grid ol {
  font-weight: bold;
}
